.songCard-body {
    width: 100%;       
    max-width: 600px;  
    height: 60px;      
    padding: 5px 15px; 
    background-color: #27354D;
    border-radius: 10px; 
    border-bottom-right-radius: 0px;
    display: flex;       
    justify-content: space-between; 
    align-items: center;  
    margin: 20px auto;   /* Center the card horizontally and add more vertical space */
    color: white;
}

.upvote-button{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    margin-left: 15px;
    transition: 0.3s;
    margin-top: 10px;
    


}

.upvote-button:hover{
    background-color: white;
    color: black;
}

.approve-button{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 17px;
    background-color: grey;
    margin-left: 10px;
    transition: 0.3s;

}

.approve-button:hover{
    background-color: white;
    color: black;
}

.reject-button{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 17px;
    background-color: grey;
    margin-left: 10px;
    transition: 0.3s;

}

.reject-button:hover{
    background-color: white;
    color: black;
}
